

footer{
    background-color: green;
    padding: 30px;
}
footer p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;

}

footer ul{
    list-style-type:square;
    padding-left: 20px;
    font-size: x-large;
    color: rgb(132, 229, 241);
}